@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.homepageTitle{
    display: flex;
    overflow: hidden;
    height: 810px;
    align-items: center;
    justify-content: center;

    .title{

        font-size: 7rem;
        font-weight: 900;
        margin: 10%;
        font-family: 'Shadows Into Light', cursive;
    }

    .learnFromMe{
        margin-top: 10%;
        padding: 25px;
        font-size: 2rem;
        background-color: black;
        color: white;
        border: white 1px solid;
        border-radius: 45px;
    }

    .learnFromMe:hover{
        font-weight: bold;
        background-color: white;
        border: black 3px solid;
        color: black;
    }
}